<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swpu.face_detection_register.dao.FaceMsgInfoMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from facemsginfo
    where keyId = #{keyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.edu.swpu.face_detection_register.model.bo.FaceMsgInfo">
    insert into facemsginfo (keyId, userId, age, 
      faceShape, gender, glasses, 
      emotion, beauty, expression, 
      addTime, modifyTime, isDelete
      )
    values (#{keyId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{age,jdbcType=SMALLINT}, 
      #{faceShape,jdbcType=CHAR}, #{gender,jdbcType=CHAR}, #{glasses,jdbcType=CHAR}, 
      #{emotion,jdbcType=CHAR}, #{beauty,jdbcType=TINYINT}, #{expression,jdbcType=CHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="false">
    insert into facemsginfo (userId, age,
    faceShape, gender, glasses,
    emotion, beauty, expression,
    addTime, modifyTime, isDelete
    )values
    <foreach collection="list" item="item" separator=",">
      (
        #{item.userId},
        #{item.age},
        #{item.faceShape},
        #{item.gender},
        #{item.glasses},
        #{item.emotion},
        #{item.beauty},
        #{item.expression},
        now(),
        now(),
        0
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.swpu.face_detection_register.model.bo.FaceMsgInfo">
    update facemsginfo
    set userId = #{userId,jdbcType=VARCHAR},
      age = #{age,jdbcType=SMALLINT},
      faceShape = #{faceShape,jdbcType=CHAR},
      gender = #{gender,jdbcType=CHAR},
      glasses = #{glasses,jdbcType=CHAR},
      emotion = #{emotion,jdbcType=CHAR},
      beauty = #{beauty,jdbcType=TINYINT},
      expression = #{expression,jdbcType=CHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      isDelete = #{isDelete,jdbcType=TINYINT}
    where keyId = #{keyId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="cn.edu.swpu.face_detection_register.model.bo.FaceMsgInfo">
    select keyId, userId, age, faceShape, gender, glasses, emotion, beauty, expression, 
    addTime, modifyTime, isDelete
    from facemsginfo
    where keyId = #{keyId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultType="cn.edu.swpu.face_detection_register.model.bo.FaceMsgInfo">
    select keyId, userId, age, faceShape, gender, glasses, emotion, beauty, expression, 
    addTime, modifyTime, isDelete
    from facemsginfo
  </select>
  <select id="selectFaceMsgGroupByAge" resultType="cn.edu.swpu.face_detection_register.model.vo.EchartsDataVo">
    SELECT age as name,COUNT(*) AS value
    FROM facemsginfo
    WHERE isDelete = 0
    GROUP BY age
  </select>
  <select id="selectFaceMsgGroupByFaceShape"
          resultType="cn.edu.swpu.face_detection_register.model.vo.EchartsDataVo">
    SELECT faceShape as name,COUNT(*) AS value
    FROM facemsginfo
    WHERE isDelete = 0
    GROUP BY faceShape
  </select>
  <select id="selectFaceMsgGroupByBeauty"
          resultType="cn.edu.swpu.face_detection_register.model.vo.EchartsDataVo">
    SELECT beauty as name,COUNT(*) AS value
    FROM facemsginfo
    WHERE isDelete = 0
    GROUP BY beauty
  </select>
  <select id="selectFaceMsgGroupByGender"
          resultType="cn.edu.swpu.face_detection_register.model.vo.EchartsDataVo">
    SELECT gender as name,COUNT(*) AS value
    FROM facemsginfo
    WHERE isDelete = 0
    GROUP BY gender
  </select>

</mapper>